.question-div {
  padding: 5%;
  text-align: left;
}

button {
  padding: 0.5rem;
  border-radius: 8px;
}

.btn-div {
  width: 100%;
  text-align: left;
  margin-top: 5%;
}

.error {
  color: red;
  margin-top: 2%;
}