<div>
  <h1>A Simple Quiz</h1>

  <div>
    <input type="radio" id="category1" name="category" value="27" [(ngModel)]="categorySelected" />
    <label for="category1">Animals</label>
    <input type="radio" id="category2" name="category" value="28" [(ngModel)]="categorySelected" />
    <label for="category2">Vehicle</label>
  </div>

  <app-question *ngIf="score === 0" [category]="categorySelected" (newScoreEvent)="updateNewScore($event)">
  </app-question>

  <div *ngIf="score !== 0">
    <h3>Thank you for participating!</h3>
    <p>Your Score <strong>{{score}}</strong></p>
    <button (click)="refresh()">Refresh</button>
  </div>
</div>